<!DOCTYPE HTML>
<html>
	<head>
		<title>Graphs</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- <link rel="stylesheet" href="assets/css/main.css" /> -->
		<link rel="stylesheet" href="./../static/css/graphs_anis.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="index.html">Home</span></a></div>
				<a href="#menu">All Punts Intended</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/graphs">Graphs</a></li>
					<li><a href="/videos">Half-Time Shows</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section class="wrapper">
						<div class="inner">
							<header class="align-center">
								<h1>Graphs</h1>
								<p>Many of us enjoy watching football from September to January, but one of the biggest sporting events of the year falls in February. Whether it’s a nail-biting, down to wire game or a washout, this is one of the most watched sporting events every year. This may be because football is one of America’s most popular sports, watched and played.</p>
								<button onclick="location.href = 'https://www.sportsmediawatch.com/super-bowl-ratings-historical-viewership-chart-cbs-nbc-fox-abc/';" id="myButton" class="float-left submit-button">Nielsen Ratings by Network</button>
								<hr>
								<p></p>
								<p></p>

								<svg width="1000" height="2000"></svg>

				


		<!-- Scripts -->
			<!-- <script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script> -->
			
			<script src="https://d3js.org/d3.v6.min.js"></script>
			<script src="{{ url_for('static', filename='css/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='css/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='css/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='css/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='css/util.js') }}"></script>
			<script src="{{ url_for('static', filename='css/main.js') }}"></script>

			<script src="{{ url_for('static', filename='js/ratings-bar.js') }}"></script>

	</body>

</html>