<!DOCTYPE HTML>
<html>
	<head>
		<title>Half-Time Shows</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- <link rel="stylesheet" href="assets/css/main.css" /> -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="index.html">Home <span></span></a></div>
				<a href="#menu">All Punts Intended</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/graphs">Graphs</a></li>
					<li><a href="/videos">Half-Time Shows</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<div id="main">
				<section class="wrapper style1">
					<div class="inner">

						<header class="align-center">
							<h1>Half-Time Shows</h1>
							<p>Remininising on shows from years past. Sometimes a fan favorite, take a look at some of the great performers that have graced the stage during half-time at the Super Bowl.</p>
						</header>

						<!-- Content -->
							<h2 id="content">2020</h2>
							<button onclick="location.href = 'https://www.instagram.com/jlo/';" id="myButton" class="float-left submit-button" >Jennifer Lopez Instagram</button>
							<button onclick="location.href = 'https://www.instagram.com/shakira/';" id="myButton" class="float-left submit-button" >Shakira Instagram</button>
							<p></p>
							<iframe width="460" height="215" src="https://www.youtube.com/embed/pILCn6VO_RU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

					
			
							<h2 id="content">2019</h2>
							<button onclick="location.href = 'https://www.instagram.com/maroon5/';" id="myButton" class="float-left submit-button" >Maroon 5 Instagram</button>
							<button onclick="location.href = 'https://www.instagram.com/travisscott/';" id="myButton" class="float-left submit-button" >Travis Scott Instagram</button>
							<button onclick="location.href = 'https://www.instagram.com/bigboi/?hl=en';" id="myButton" class="float-left submit-button" >Big Boi Instagram</button>
							<p></p>
							<iframe width="460" height="215" src="https://www.youtube.com/embed/zIwkhEqVq4s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						
						<h2 id="content">2018</h2>
						<button onclick="location.href = 'https://www.instagram.com/justintimberlake/';" id="myButton" class="float-left submit-button" >Justin Timberlake Instagram</button>
							<p></p>
							<iframe width="460" height="215" src="https://www.youtube.com/embed/2z3EUY1aXdY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							
							<h2 id="content">2017</h2>
							<button onclick="location.href = 'https://www.instagram.com/ladygaga/';" id="myButton" class="float-left submit-button" >Lady Gaga Instagram</button>
							<p></p>
							<iframe width="460" height="215" src="https://www.youtube.com/embed/txXwg712zw4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		
							<h2 id="content">2016</h2>
							<button onclick="location.href = 'https://www.instagram.com/beyonce/';" id="myButton" class="float-left submit-button" >Beyonce Instagram</button>
							<button onclick="location.href = 'https://www.instagram.com/brunomars/';" id="myButton" class="float-left submit-button" >Bruno Mars Instagram</button>
							<button onclick="location.href = 'https://www.instagram.com/coldplay/';" id="myButton" class="float-left submit-button" >Coldplay Instagram</button>
							<p></p>
							<iframe width="460" height="215" src="https://www.youtube.com/embed/c9cUytejf1k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		
							<h2 id="content">2015</h2>
							<button onclick="location.href = 'https://www.instagram.com/katyperry/';" id="myButton" class="float-left submit-button" >Katy Perry Instagram</button>
							<button onclick="location.href = 'https://www.instagram.com/missymisdemeanorelliott/';" id="myButton" class="float-left submit-button" >Missy Elliot Instagram</button>
							<button onclick="location.href = 'https://www.instagram.com/lennykravitz/';" id="myButton" class="float-left submit-button" >Lenny Kravitz Instagram</button>
							<p></p>
							<iframe width="460" height="215" src="https://www.youtube.com/embed/ZD1QrIe--_Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		
							<h2 id="content">2014</h2>
							<button onclick="location.href = 'https://www.instagram.com/brunomars/';" id="myButton" class="float-left submit-button" >Bruno Mars Instagram</button>
							<button onclick="location.href = 'https://www.instagram.com/chilipeppers/';" id="myButton" class="float-left submit-button" >Red Hot Chili Peppers Instagram</button>
							<p></p>
							<iframe width="460" height="215" src="https://www.youtube.com/embed/Jn2KGdPOzZ4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		
							<h2 id="content">2013</h2>
							<button onclick="location.href = 'https://www.instagram.com/beyonce/';" id="myButton" class="float-left submit-button" >Beyonce Instagram</button>
							<p></p>
							<iframe width="460" height="215" src="https://www.youtube.com/embed/suIg9kTGBVI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		
							<h2 id="content">2012</h2>
							<button onclick="location.href = 'https://www.instagram.com/madonna/';" id="myButton" class="float-left submit-button" >Madonna Instagram</button>
							<p></p>
							<iframe width="460" height="215" src="https://www.youtube.com/embed/ucdaEjd1Y4A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		
							<h2 id="content">2011</h2>
							<button onclick="location.href = 'https://www.instagram.com/bep/';" id="myButton" class="float-left submit-button" >Black Eyed Peas Instagram</button>
							<p></p>
							<iframe width="460" height="215" src="https://www.youtube.com/embed/xPIiaSnYV5E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

							<h2 id="content">2010</h2>
							<button onclick="location.href = 'https://www.instagram.com/officialthewho/';" id="myButton" class="float-left submit-button" >The Who Instagram</button>
							<p></p>
							<iframe width="460" height="215" src="https://www.youtube.com/embed/ern9ONZWObw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							<!-- Scripts -->
			<!-- <script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script> -->

			<script src="{{ url_for('static', filename='css/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='css/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='css/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='css/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='css/util.js') }}"></script>
			<script src="{{ url_for('static', filename='css/main.js') }}"></script>

	</body>
</html>